footer {
    margin-top: auto;
    margin-bottom: 2rem;
}

.footer {
    padding: 0 25px;
}

.footer-pay {
    display: flex;
    justify-content: space-between;
    margin: 12px auto 0;
}

@media (prefers-color-scheme: dark) {
    .footer {
        background-color: rgba(41, 41, 41, 0.935) !important;
    }
}